//fonts variables
$font-main: 'Heebo', sans-serif;
$font-sub: 'Lucida Grande', sans-serif;

$font-size: 16px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$clr-black: #002346;
$clr-light: #ffffff;
$clr-primary: #3184E5;